<ion-header>
  <ion-navbar>
    <ion-title>
      Corre!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button (click)="startTracking()" *ngIf="!isTracking">
        <ion-icon name="locate"></ion-icon>
        Start
    </button>

  <button ion-button (click)="stopTracking()" *ngIf="!isTracking">
    <ion-icon name="locate"></ion-icon>
    Stop
  </button>
  <!-- <p>Texto para ver el slider moviendose!</p> -->
  <div #map id="map" style="height:100%"></div>
</ion-content>
